body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #111;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 36px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

input {
    background-color: #222;
    color: #fff;
}

button {
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
a {
    color: #0095f6;
    text-decoration: none;
}

